// ==============================
// Layout
// ==============================

.container {
  max-width: $container-max-width;
  width: 100%;
  margin-inline: auto;
  padding-inline: $container-padding-inline;
}

.section {
  padding-block: $space-xxxl; // 80px baseline 
}
